*{
    --accent-color: #ff0044;
    --bg-color: #3d385f;
    --text-color: #d3ece7;
}

body {
    background-color: var(--bg-color);
}

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color:darkslategrey;
    height: 30px;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: violet;
    height: 25px;
    width: 25px;
    border-radius: 25px;
}
.logo-img {
    position: absolute;
    height: 80%;
    width: 80%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dimgray;
    width: 50%;
}